<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templat.html"
>
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Creation de projet </title>
</head>
<body>
<div layout:fragment="content">
    <main class="container mt-5">
        <form th:action="@{saveProjet}" method="post"> <!--saveprojet methode dans projetService-->
            <div class="form-group">
                <label  class="form-label" for="nom">Nom : </label>
                <input class="form-control" type="text" id="nom" name="nom">
            </div>
            <div class="form-group">
                <label class="form-label" for="Description">Description:</label>
                <input class="form-control" type="text" id="Description" name="Description">
            </div>
            <div class="form-group">
                <label class="form-label" for="Date_Debut">Date de Debut : </label>
                <input class="form-control" type="date" id="Date_Debut" name="Date_Debut">
            </div>
            <div class="form-group">
                <label class="form-label" for="Date_Fin">Date de Fin : </label>
                <input class="form-control" type="date" id="Date_Fin" name="Date_Fin">
            </div>

            <div class="form-group">
                <input class="form-control btn btn-primary" type="submit" value="create">
            </div>
        </form>
    </main>
</div>
</body>
</html>
