<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templat.html">
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe</title>
</head>
<body>
<div layout:fragment="content">
<main class="container mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"> ID</th>
            <th scope="col"> NOM</th>
            <th scope="col"> PRENOM</th>
            <th scope="col"> EMAIL </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="utilisateur:${utilisateursVue}">
            <td th:text="${utilisateur.id}"></td>
            <td th:text="${utilisateur.nom}"></td>
            <td th:text="${utilisateur.prenom}"></td>
            <td th:text="${utilisateur.email}"></td>

            <td th:if="${#authorization.expression('hasRole(''Chef'')')}">
                <a class="btn bg-danger"
                   onclick="return confirm('Are you sure to delete this customer ? ')"
                   th:href="@{deleteUser(id=${utilisateur.id})}">
                    Delete
                </a>
            </td>


        </tr>

        </tbody>
    </table>

</main>
</div>

</body>
</html>
